.header{
    text-align: center;
    background: rgb(21, 231, 66);
    padding: 30px;
    text-align: center;
}


nav a{
    
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
nav a:hover{
    color: orange;
}